{% extends "general/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %} Fourteeners - Password Changed! {% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mountains.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}" />
{% endblock extra_head %}

{% block content %}
<div id="mtn-list-container" class="tabs-content">
    <div id="list-top" class="mountaintop"></div>

    <section id="password-reset-complete" class="content-section">
        <p>{% trans 'Your password was changed.' %}</p>
    </section>
{% endblock %}
